:root {
  --color-principal: #4f7cff;
  --color-secundario: #7c5cff;

  --color-exito: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-texto: #1f2937;
  --color-texto-secundario: #6b7280;

  --color-fondo: #f5f7fb;
  --color-panel: #ffffff;

  --color-borde: #e5e7eb;

  --sidebar-width: 250px;

  --radio-pequeno: 8px;
  --radio-mediano: 14px;
  --radio-grande: 22px;

  --sombra:
    0 8px 25px rgba(0, 0, 0, 0.06);
}